{
    "fix": "run-s fix:eslint fix:prettier",
    "fix:eslint": "npx lint:eslint --fix",
    "fix:prettier": "npx lint:prettier --write",
    "printWidth": 80,
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "parser": "typescript"
}
